.signup-wh {
  width: 800px;
  height: 700px;
}

.sign-up-form {
  width: 60%;
} 

.required {
  color: red;
}

.password-container {
  position: relative;
}

.password-icon {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 5px;
  margin-left: 5px;
}

.form-group {
  margin-bottom: 0;
}